/*COMMON STYLES*/

a, div, p, li, ul, span{
    font-family: 'Roboto', sans-serif !important;
}

body{
    background-color: #F7F9FC !important;
}

button:focus {
    outline: none !important;
}


.button-small{
    background: #00A5BB;
    border-radius: 4px;
    padding: 7px 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    outline: none !important;
    border-style:none;
}

#body-row {
    margin-left:0;
    margin-right:0;
}

.navbar{
    padding-left: 52px !important;
    background-color: white !important;
}

#sidebar-container {
    min-height: 100vh;
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 36px;
    padding-right: 20px;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 284px;
}
.sidebar-collapsed {
    width: 120px;
}

.sidebar-collapsed .list-group .shortcut{
    display: none;
}

.sidebar-collapsed .menu-icon{
    margin-right: 0;
}

.sidebar-collapsed .w-100{
    width: 20px !important;
    margin-right: 0;
}

.sidebar-collapsed .list-group-item{
    width: 52px !important;
}


.sidebar-separator-title{
    margin-top: 28px;
    margin-bottom: 8px;
    height: 20px;
}

.sidebar-separator-title .sep-title{
    font-size: 13px;
    font-weight: 700;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: rgba(0, 32, 57, 0.5);
}

.list-group-item{
    border: none !important;
    padding: 14px 16px !important;
    border-radius: 12px !important;
    margin-bottom: 4px !important;
}
.list-group-item.active{
    background-color: #00A5BB !important;
    color: white !important;
}

#sidebar-container .option-flex{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 38px);
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

#sidebar-container .list-group .sidebar-submenu .menu-collapsed{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.list-group .shortcut{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #002039;
    opacity: 0.3;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}


.sidebar-expanded{
    display: block;
}


.menu-logo{
    background-image: url(../img/Logo.svg);
    width: 110px;
    height: 35px;
    background-repeat: no-repeat;
    margin-top: 41px;
    margin-bottom: 57px;
}

.menu-icon{
    width: 20px;
    height: 20px;
    margin-right: 18px;
}


.menu-batch{
    background-image: url(../img/Menu-Batch-Inactive.svg);
}
.list-group-item.active .menu-batch{
    background-image: url(../img/Menu-Batch-Active.svg);
}

.menu-history{
    background-image: url(../img/Menu-History-Inactive.svg);
}
.list-group-item.active .menu-history{

}

.menu-single{
    background-image: url(../img/Menu-OneSample-Inactive.svg);
}
.list-group-item.active .menu-single{

}

.menu-rerun{
    background-image: url(../img/Menu-ReRun-Inactive.svg);
}
.list-group-item.active .menu-rerun{

}

.menu-cache{
    background-image: url(../img/Menu-Cache-Inactive.svg);
}
.list-group-item.active .menu-cache{

}

.menu-record{
    background-image: url(../img/Menu-Screen-Inactive.svg);
}
.list-group-item.active .menu-record{

}


.nav-container{
    border-right: solid 1px #EAEDF2;
}

@media (max-width: 767px){
    .sidebar-expanded{
        display: none;
    }
    .nav-container{
        width: 100%;
    }
}



/*SIMPLE TABLE*/
div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}
.dataTable thead{
    background-color: #F5F6F8;
    color: #002039;
    font-size: 13px;
    font-weight: 600;
}

.dataTable tbody{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #002039;
}

.dataTable tbody tr td{
    padding-top: 12px;
    padding-bottom: 12px;
}

table.dataTable thead th,
table.dataTable thead td{
    border-top: solid 1px #EAEDF2;
    border-bottom: solid 1px #EAEDF2;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd{
    background-color: white;
}

table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_1,
table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even > .sorting_1{
    background-color: #F5F6F8;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td{
    border-top: solid 1px #EAEDF2;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody{
    border-bottom: none !important;
    padding-bottom: 8px;
}

table.dataTable thead .sorting_asc{
    background-image: url(../img/active-sort.svg);
}

table.dataTable thead .sorting{
    background-image: url(../img/inactive-sort.svg);
}

table.dataTable thead .sorting_desc{
    background-image: url(../img/active-sort-desc.svg);
}


/*RE-USABLE COMPONENT ELEMENTS*/
.title-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 11px 18px;
    background-color: white;

}

.title-row .component-title{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    height: 28px;
    color: #002039;

}

.table-component{
    box-shadow: 0px 0px 4px rgba(10, 2, 3, 0.1);
}

