<div class="container-fluid" style="padding-left:7px; padding-right: 7px">
    <div class="row boxes-row">
        <!--Box #1-->
        <div class="col-md-3">
            <div class="small-card">
                <!--This is the number and the title next to it-->
                <div class="box-title-row">
                    <div class="number number-one">1</div>
                    <div class="box-title">Title Comes Here</div>
                </div>
                <!--This is the huge number (statistical data)-->
                <div class="box-data">120</div>
                <!--This is the up and down arrow = descending-ascending and the supporting text-->
                <div class="box-trend-row">
                    <div class="box-trends">
                        <div class="arrow-up"></div>
                        <div class="arrow-number-up">3.4%</div>
                    </div>
                    <div class="box-supporting-text">vs category 1</div>
                </div>
            </div>
        </div>
        <!--Box #2-->
        <div class="col-md-3">
            <div class="small-card">
                <!--This is the number and the title next to it-->
                <div class="box-title-row">
                    <div class="number number-two">2</div>
                    <div class="box-title">Title Comes Here</div>
                </div>
                <!--This is the huge number (statistical data)-->
                <div class="box-data">113</div>
                <!--This is the up and down arrow = descending-ascending and the supporting text-->
                <div class="box-trend-row">
                    <div class="box-trends">
                        <div class="arrow-down"></div>
                        <div class="arrow-number-down">3.4%</div>
                    </div>
                    <div class="box-supporting-text">vs category 1</div>
                </div>
            </div>
        </div>
        <!--Box #3-->
        <div class="col-md-3">
            <div class="small-card">
                <!--This is the number and the title next to it-->
                <div class="box-title-row">
                    <div class="number number-three">3</div>
                    <div class="box-title">Title Comes Here</div>
                </div>
                <!--This is the huge number (statistical data)-->
                <div class="box-data">100</div>
                <!--This is the up and down arrow = descending-ascending and the supporting text-->
                <div class="box-trend-row">
                    <!--
                    <div class="box-trends">
                        <div class="arrow-up"></div>
                        <div class="arrow-number-up">3.4%</div>
                    </div>
                    -->
                    <div class="box-supporting-text">vs category 1</div>
                </div>
            </div>
        </div>
        <!--Box #4-->
        <div class="col-md-3">
            <div class="small-card">
                <!--This is the number and the title next to it-->
                <div class="box-title-row">
                    <div class="number number-four">4</div>
                    <div class="box-title">Title Comes Here</div>
                </div>
                <!--This is the huge number (statistical data)-->
                <div class="box-data">46</div>
                <!--This is the up and down arrow = descending-ascending and the supporting text-->
                <div class="box-trend-row">
                    <div class="box-trends">
                        <div class="arrow-up"></div>
                        <div class="arrow-number-up">3.4%</div>
                    </div>
                    <div class="box-supporting-text">vs category 1</div>
                </div>
            </div>
        </div>
    </div>
</div>


<!------------------------------------DEPENDENCIES FOR THIS FILE ONLY------------------------------------>
<!--Font: Roboto-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<!--Custom CSS-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
<!--Bootstrap-->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<link href="css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" media="all">
<link href="css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" media="all">
<!--Chart CSS 2-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.4/chartist.min.css" integrity="sha512-V0+DPzYyLzIiMiWCg3nNdY+NyIiK9bED/T1xNBj08CaIUyK3sXRpB26OUCIzujMevxY9TRJFHQIxTwgzb0jVLg==" crossorigin="anonymous" />

<!--jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--Bootstrap-->
<script type="text/javascript" src="js/bootstrap.js"></script>