<div class="table-component">
    <!--Title of Table-->
    <div class="title-row">
        <div class="component-title">Title</div>
        <button class="button-small">Download</button>
    </div>
    <!--Table-->
    <table id="example" class="display" style="width:100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
        </thead>
    </table>
</div>


<!------------------------------------DEPENDENCIES FOR THIS FILE ONLY------------------------------------>
<!--CSS-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all">

<!--SCRIPTS-->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"></script>
<script type="text/javascript" src="scripts/jquery-3.5.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="scripts/tables.js"></script>